/*! Plugins */
// ==========================================================================

/* Gridder */
/* https://github.com/oriongunning/gridder */
.gridder {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    /*font-size:0;*/
}

.gridder-list,
.gridder-show {
    /*font-size: 16px;*/
}

.gridder-list {
    display: inline-block;
    vertical-align: top;
}

.gridder-show {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    margin: 1.5% 0;
    padding-bottom: 0;
    padding-top: 0;
    background-color: #F6F4F0;
    border-top: 2px solid rgba(68, 63, 48, 1);
    border-bottom: 2px solid rgba(68, 63, 48, 1);
}

.gridder-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}

.gridder-navigation {
    display: inline-block;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    margin: -20px -20px 0 0;
}

.gridder-navigation .gridder-nav.disabled {
    opacity: .5;
}

.gridder-nav {
    /*display: none;*/
}

.work-gridder .gridder-nav {
    display: block;
}

.gridder-list:hover {
    /*opacity: 0.8;*/
}

.hasSelectedItem .gridder-list {
    opacity: 1;
	transition: opacity 0.5s;
}

.inner .hasSelectedItem .gridder-list {
    opacity: 0.2;
}

.inner .hasSelectedItem .gridder-list.selectedItem {
    opacity: 1;
    border-color: #443f30;
}

.hasSelectedItem .gridder-list.selectedItem figure::after {
	top: auto;
    bottom: 0;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #197A3E;
	border-width: 15px;
	left: 50%;
	margin: -30px 0 0 -15px;
}

.gridder-content {
    display: none;
}

.gridder-list {
    /*width: 49.5%;*/
}

/*.gridder-list:nth-child(n) {
    margin-bottom: 1%;
    margin-right: 1%;
}

.gridder-list:nth-of-type(2n) {
    margin-right: 0;
    margin-bottom: 0;
}*/

.gridder-close,
.gridder-nav {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    text-decoration: none;
    border-bottom: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    -webkit-transition: all 0.4s;
     -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
          transition: all 0.4s;
}

.gridder-close {
	right: 20px;
}

.gridder-nav.prev {
	right: 100px;
}

.gridder-nav.next {
	right: 60px;
}

.gridder-close:before,
.gridder-nav:before {
	/*font-family: 'Ionicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
    display: block;
	margin-bottom: 10px;
    color: #fff;
    font-size: 40px;
    text-align: center;*/
}

.gridder-close {
    /*background-image: url(images/close.svg);*/
}

.gridder-close { /*http://androidcss.com/css-shape-icon-generator/ */
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgba(0,0,0,0);
    box-sizing: content-box;
}

.gridder-close::before {
    position: absolute;
    content: '';
    margin: auto;
    width: calc(40px/12);
    height: calc(34px/1.5);
    background-color: #443F30;
    top: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    transform: rotate(45deg);
}

.gridder-close::after {
    position: absolute;
    content: '';
    margin: auto;
    width: calc(34px/1.5);
    height: calc(40px/12);
    background-color: #443F30;
    top: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    transform: rotate(45deg);
}

.gridder-close:hover,
.gridder-close:focus {
    opacity: 0.5;
}

.gridder-nav.prev { /*http://androidcss.com/css-shape-icon-generator/ */
    /*background-image: url(images/ios-arrow-left.svg);*/
    display: inline-block;
    width: 0;
    height: 0;
    border-right: 10px solid #443F30;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    margin-left: 10px;
    margin-top: 10px;
}

.gridder-nav.next { /*http://androidcss.com/css-shape-icon-generator/ */
    /*background-image: url(images/ios-arrow-right.svg);*/
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 10px solid #443F30;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    margin-right: 10px;
    margin-top: 10px;
}

.gridder-nav:hover,
.gridder-nav:focus {
    opacity: 0.5;
}


