/*! Variables */
// ==========================================================================

// Colors
//============

/* Coolors Exported Palette - coolors.co/e4b02c-80bbd5-2090c5-579f3f-197a3e */

@orange: rgba(228, 176, 44, 1); /* #E4B02C */
@bluesky: rgba(128, 187, 213, 1); /* #80BBD5 */
@bluesea: rgba(32, 144, 197, 1); /* #2090C5 */
@greenmay: rgba(87, 159, 63, 1); /* #579F3F */
@greendark: rgba(25, 122, 62, 1); /* #197A3E */


/* Pastel colors */
/* https://coolors.co/f2d999-c3deeb-a4c7e4-b0cc9b-9db593 */

@orange-soft: rgba(242, 217, 153, 1); /* #F2D999 */
@bluesky-soft: rgba(195, 222, 235, 1); /* #C3DEEB */
@bluesea-soft: rgba(164, 199, 228, 1); /* #A4C7E4 */
@greenmay-soft: rgba(176, 204, 155, 1); /* #B0CC9B */
@greendark-soft: rgba(157, 181, 147, 1); /* #9DB593 */


/* Coolors Exported Palette - coolors.co/26231b-443f30-767166-d8ceba-ede8df */

@darkbrown: rgba(38, 35, 27, 1); /* #26231B */
@brown: rgba(68, 63, 48, 1); /* #443F30 */
@lightbrown: rgba(118, 113, 102, 1); /* #767166 */
@beige: rgba(216, 206, 186, 1); /* #D8CEBA */
@lightbeige: rgba(237, 232, 223, 1); /* #EDE8DF */

@lighterbeige: #F6F4F0;

@darkorange: #92711D;

