/*! ***********************************
  * Filename: style.css
  * Website: https://campusnatura.org
  * Author: Jørgen Mortensen
  * Author URI: https://sokvist.com
  * Date: 16/04/2019
  * Version: 1.0 
***************************************/


@import "reset.less";
@import "variables.less";
@import "mixins.less";


/* Section/Article */
section.special, article.special {
    text-align: center;
}

header p {
    position: relative;
    top: -0.25em;
}

header h3 + p {
    font-size: 1.1em;
}

header h4 + p,
header h5 + p,
header h6 + p {
    font-size: 0.9em;
}

header.major {
    margin: 0 0 3.5em 0;
}

header.major h2,
header.major h3,
header.major h4,
header.major h5,
header.major h6,
.staying h2 {
    border-bottom: solid 3px #fff;
    display: inline-block;
    padding-bottom: 1em;
    position: relative;
}

header.major h2:after,
header.major h3:after,
header.major h4:after,
header.major h5:after,
header.major h6:after,
.staying h2:after {
    content: '';
    display: block;
    height: 1px;
}

.staying h2 {
    margin: 2em 0 1.5em;
}

header.major p {
    /*color: #fff;*/
    top: 0;
}

.error404 header.major,
.single header.major {
    position: relative;
    font-size: 1.2em;
    //margin: 1em auto;
    height: 50vh;
    z-index: 1;
}

@media screen and (max-width: 736px) {

    header.major {
        margin: 0 0 2em 0;
    }

}

@media screen and (max-width: 980px) {

    header br {
        display: none;
    }

}

/* Form */
form {
    margin: 0 0 2em 0;
}

label {
    /*color: #fff;*/
    display: block;
    font-size: 0.9em;
    font-weight: 400;
    margin: 0 0 1em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-color: white;
    border-radius: 4px;
    border: 2px solid #D8CEBA;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
select:invalid,
textarea:invalid {
    box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
    box-shadow: 0 0 0 2px #80BBD5;
}

select {
    background-size: 1.25em;
    background-repeat: no-repeat;
    background-position: calc(100% - 1em) center;
    height: 2.75em;
    padding-right: 2.75em;
    text-overflow: ellipsis;
}

select:focus::-ms-value {
    background-color: transparent;
}

select::-ms-expand {
    display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select {
    height: 2.75em;
}

textarea {
    padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    text-decoration: none;
    /*color: #fff;*/
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    /*-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;*/
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    background: rgba(144, 144, 144, 0.25);
    border-radius: 3px;
    content: '';
    display: inline-block;
    height: 1.65em;
    left: 0;
    line-height: 1.58125em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1.65em;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
    background: #2e3842;
    color: #fff;
    content: '\2714';
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
    box-shadow: 0 0 0 2px #21b2a6;
}

input[type="checkbox"] + label:before {
    border-radius: 3px;
}

input[type="radio"] + label:before {
    border-radius: 100%;
}

::-webkit-input-placeholder {
    color: rgba(118, 113, 102, 0.5) !important;
    opacity: 1.0;
}

:-moz-placeholder {
    color: rgba(118, 113, 102, 0.5) !important;
    opacity: 1.0;
}

::-moz-placeholder {
    color: rgba(118, 113, 102, 0.5) !important;
    opacity: 1.0;
}

:-ms-input-placeholder {
    color: rgba(118, 113, 102, 0.5) !important;
    opacity: 1.0;
}


/* Contact form 7 */
.wpcf7-form .wpcf7-radio label {
    position: relative;
    cursor: pointer;
    padding-left: 2.4em;
    padding-right: 0.75em;
}

.wpcf7-form .wpcf7-radio input[type=radio] {
	position: relative;
    visibility: hidden;
}

.wpcf7-form .wpcf7-radio input[type=radio] + span:before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 1.65em;
    width: 1.65em;
    top: 0px;
    border: 2px solid #222;
}

.wpcf7-form .wpcf7-radio input[type=radio] + span:after {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: 6px;
    left: 6px;
    visibility: hidden;
}

.wpcf7-form .wpcf7-radio input[type=radio]:checked + span:before {
    background: transparent;
}

.wpcf7-form .wpcf7-radio input[type=radio]:checked + span:after {
    background: #222;
    visibility: visible;
}

.wpcf7-form .wpcf7-checkbox label,
.wpcf7-form .wpcf7-acceptance label {
    position: relative;
    cursor: pointer;
}

.wpcf7-form .wpcf7-checkbox input[type=checkbox],
.wpcf7-form .wpcf7-acceptance input[type=checkbox]{
	position: relative;
    visibility: hidden;
    margin-right: 0.5em;
}

.wpcf7-form .wpcf7-checkbox input[type=checkbox] + span:before,
.wpcf7-form .wpcf7-acceptance input[type=checkbox] + span:before{
    display: block;
    position: absolute;
    content: '';
    border-radius: 4px;
    height: 1.5em;
    width: 1.5em;
    top: 1px;
    border: 2px solid #D8CEBA;
    background-color: white;
}

.wpcf7-form .wpcf7-checkbox input[type=checkbox] + span:after,
.wpcf7-form .wpcf7-acceptance input[type=checkbox] + span:after {
    display: block;
    position: absolute;
    content: '\2714';
    border-radius: 100%;
    /*height: 10px;
    width: 10px;*/
    top: 2px;
    left: 3px;
    visibility: hidden;
    font-size: 1.35em;
    line-height: 1;
    color: #443F30;
}

.wpcf7-form .wpcf7-checkbox input[type=checkbox]:checked + span:before,
.wpcf7-form .wpcf7-acceptance input[type=checkbox]:checked + span:before {
    background: #D8CEBA;
}

.wpcf7-form .wpcf7-checkbox input[type=checkbox]:checked + span:after,
.wpcf7-form .wpcf7-acceptance input[type=checkbox]:checked + span:after {
    visibility: visible;
}

.wpcf7-form .wpcf7-acceptance .wpcf7-list-item-label {
    font-size: 0.9em;
    letter-spacing: 0.05em;
}



div.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}

div.wpcf7-response-output {
	margin: 1em 0.5em 1em;
	padding: 0.2em 1em;
	border-left: 3px solid #ff0000;
    background: #F6F4F0;
    line-height: 1.5;
}

div.wpcf7-mail-sent-ok {
	border-left: 3px solid #398f14;
    background: #F6F4F0;
}

div.wpcf7-mail-sent-ng,
div.wpcf7-aborted {
	border-left: 3px solid #ff0000;
    background: #F6F4F0;
}

div.wpcf7-spam-blocked {
	border-left: 3px solid #ffa500;
    background: #F6F4F0;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
	border-left: 3px solid #f7e700;
    background: #F6F4F0;
}

.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	color: #f00;
	font-size: 1em;
	font-weight: normal;
	display: block;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	border: 3px solid #ff0000;
	background: #F6F4F0;
	padding: .2em .8em;
}

span.wpcf7-list-item {
	display: inline-block;
	margin: 0;
}

span.wpcf7-list-item-label::before,
span.wpcf7-list-item-label::after {
	content: " ";
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 .ajax-loader {
	visibility: hidden;
	display: inline-block;
	/*background-image: url('../images/loader.gif');
	width: 16px;
	height: 16px;
	border: none;
	padding: 0;
	margin: 0 0 0 4px;
	vertical-align: middle;*/
}

div.wpcf7 .ajax-loader.is-active {
	visibility: visible;
}

div.wpcf7 div.ajax-error {
	display: none;
}

.whats a {
    margin-left: 5px;
}

.whats svg {
    fill: #197A3E;
    height: 20px;
    width: 20px;
}


/* Icon */
.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    /*font-family: FontAwesome;*/
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
}

.icon.major {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-radius: 3px;
    border: solid 2px #fff;
    display: inline-block;
    font-size: 1.35em;
    height: calc(3em + 2px);
    line-height: 3em;
    text-align: center;
    width: calc(3em + 2px);
}

.icon.major:before {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
    font-size: 1.5em;
}

@media screen and (max-width: 736px) {

    .icon.major {
        font-size: 1em;
    }

}


/* Image */
.image {
    border-radius: 3px;
    border: 0;
    display: inline-block;
    position: relative;
}

.image img {
    border-radius: 3px;
    display: block;
}

.image.left {
    float: left;
    margin: 0 2em 2em 0;
    top: 0.25em;
}

.image.right {
    float: right;
    margin: 0 0 2em 2em;
    top: 0.25em;
}

.image.left, .image.right {
    max-width: 40%;
}

    .image.left img, .image.right img {
        width: 100%;
    }

.image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
}

.image.fit img {
    width: 100%;
}


/* List */
ol {
    list-style: decimal;
    margin: 0 0 2em 0;
    padding-left: 1.25em;
}

ol li {
    padding-left: 0.25em;
}

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}

ul li {
    padding-left: 0.5em;
}

ul.alt {
    list-style: none;
    padding-left: 0;
}

ul.alt li {
    border-top: solid 1px #fff;
    padding: 0.5em 0;
}

ul.alt li:first-child {
    border-top: 0;
    padding-top: 0;
}

dl {
    margin: 0 0 2em 0;
}


/* Actions */
ul.actions {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    cursor: default;
    list-style: none;
    margin-left: -1em;
    padding-left: 0;
}

ul.actions li {
    padding: 0 0 0 1em;
    vertical-align: middle;
}

ul.actions.special {
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    width: 100%;
    margin-left: 0;
}

ul.actions.special li:first-child {
    padding-left: 0;
}

ul.actions.stacked {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 0;
}

ul.actions.stacked li {
    padding: 1em 0 0 0;
}

ul.actions.stacked li:first-child {
    padding-top: 0;
}

ul.actions.fit {
    width: calc(100% + 1em);
}

ul.actions.fit li {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    width: 100%;
}

ul.actions.fit li > * {
    width: 100%;
}

ul.actions.fit.stacked {
    width: 100%;
}

ul.actions.cta-action {
    margin-top: 2em;
}

@media screen and (max-width: 480px) {

    ul.actions:not(.fixed) {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: 0;
        width: 100% !important;
    }

    ul.actions:not(.fixed) li {
        -moz-flex-grow: 1;
        -webkit-flex-grow: 1;
        -ms-flex-grow: 1;
        flex-grow: 1;
        -moz-flex-shrink: 1;
        -webkit-flex-shrink: 1;
        -ms-flex-shrink: 1;
        flex-shrink: 1;
        padding: 1em 0 0 0;
        text-align: center;
        width: 100%;
    }

    ul.actions:not(.fixed) li > * {
        width: 100%;
    }

    ul.actions:not(.fixed) li:first-child {
        padding-top: 0;
    }

    ul.actions:not(.fixed) li input[type="submit"],
    ul.actions:not(.fixed) li input[type="reset"],
    ul.actions:not(.fixed) li input[type="button"],
    ul.actions:not(.fixed) li button,
    ul.actions:not(.fixed) li .button {
        width: 100%;
    }

    ul.actions:not(.fixed) li input[type="submit"].icon:before,
    ul.actions:not(.fixed) li input[type="reset"].icon:before,
    ul.actions:not(.fixed) li input[type="button"].icon:before,
    ul.actions:not(.fixed) li button.icon:before,
    ul.actions:not(.fixed) li .button.icon:before {
        margin-left: -0.5em;
    }

}

/* Icons */
ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}

ul.icons li:last-child {
    padding-right: 0 !important;
}

ul.icons.major {
    padding: 1em 0;
}

ul.icons.major li {
    padding-right: 3.5em;
}

@media screen and (max-width: 736px) {

    ul.icons.major li {
        padding: 0 1em !important;
    }

}


/* Table */
.table-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
}

table {
    margin: 0 0 2em 0;
    width: 100%;
}

table tbody tr {
    border: solid 1px #fff;
    border-left: 0;
    border-right: 0;
}

    table tbody tr:nth-child(2n + 1) {
        background-color: rgba(144, 144, 144, 0.25);
    }

table td {
    padding: 0.75em 0.75em;
}

table th {
    color: #fff;
    font-size: 0.9em;
    font-weight: 600;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left;
}

table thead {
    border-bottom: solid 2px #fff;
}

table tfoot {
    border-top: solid 2px #fff;
}

table.alt {
    border-collapse: separate;
}

table.alt tbody tr td {
    border: solid 1px #fff;
    border-left-width: 0;
    border-top-width: 0;
}

table.alt tbody tr td:first-child {
    border-left-width: 1px;
}

table.alt tbody tr:first-child td {
    border-top-width: 1px;
}

table.alt thead {
    border-bottom: 0;
}

table.alt tfoot {
    border-top: 0;
}


/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 6px;
    border: 0;
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    height: 3.125em;
    letter-spacing: 0.225em;
    line-height: 3.125em;
    max-width: 30em;
    padding: 0 2.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
    background-color: rgba(144, 144, 144, 0.25);
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
    background-color: rgba(144, 144, 144, 0.5);
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
    margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
    width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
    font-size: 0.8em;
}

input[type="submit"].large,
input[type="reset"].large,
input[type="button"].large,
button.large,
.button.large {
    font-size: 1.35em;
}

input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary,
button.primary,
.button.primary {
    background-color: rgba(228, 176, 44, 1);
    box-shadow: none !important;
    color: #ffffff !important;
}

input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover,
button.primary:hover,
.button.primary:hover {
    background-color: rgba(228, 176, 44, 0.7) !important;
}

input[type="submit"].primary:active,
input[type="reset"].primary:active,
input[type="button"].primary:active,
button.primary:active,
.button.primary:active {
    background-color: rgba(228, 176, 44, 1) !important;
}

input[type="submit"].disabled, input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
    //pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

@media screen and (max-width: 736px) {

    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button,
    .button {
        height: 3.75em;
        line-height: 3.75em;
    }

}


/* Features */
.features {
    list-style: none;
    padding: 0;
    width: 100%;
}

.features li.icon {
    padding: 0;
    position: relative;
    text-align: left;
    width: 30%;
    margin: 1.5%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid #fff;
    border-radius: 0px 20px 20px 20px;
}

.features li.icon:before {
    content: '';
    display: block;
    color: #00ffcc;
    background-color: rgba(87, 159, 63, 0.5);
    border-radius: 0;
    position: absolute;
    left: -12px;
    top: -12px;
    height: 40px;
    width: 80%;
    font-size: 1.5em;
    z-index: -1;
}

.features li.icon.natura:before {
    background-color: rgba(87, 159, 63, 0.5);
}

.features li.icon.salut-i-animals:before {
    background-color: rgba(228, 176, 44, 0.5);
}

.features li.icon.tecnologia-i-natura:before {
    background-color: rgba(32, 144, 197, 0.5);
}

/* Hover effect */
.features li.icon figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0;
	width: 100%;
	background: #443F30;
	cursor: pointer;
    border-radius: 0px 17px 17px 17px;
}

.features li.icon figure img {
	position: relative;
	display: block;
	max-width: 100%;
    height: auto;
}

figure img {
    opacity: 0.9;
    transition: opacity 0.35s;
}

figure:hover img {
	opacity: 0.7;
}

.features li.icon figure figcaption {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.features li.icon figure figcaption::before,
.features li.icon figure figcaption::after {
	pointer-events: none;
}

.features li.icon figure figcaption,
.features li.icon figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.features li.icon figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

figure h3,
figure p,
figure time,
figure .actions {
	position: absolute;
    left: 0;
	width: 100%;
	transition: transform 0.35s, opacity 0.35s;
}

figure h3 {
    top: 0;
	transform: translate3d(0,0,0);
}

figure p {
    top: 20%;
	transform: translate3d(0,0,0);
    opacity: 0;
}

figure time {
    top: 80%;
	transform: translate3d(0,0,0);
    opacity: 1;
}

figure .actions {
    top: 100%;
	transform: translate3d(0,0,0);
}

figure:hover h3 {
	transform: translate3d(0,-100%,0);
}

figure:hover p {
	transform: translate3d(0,-50%,0);
    opacity: 1;
}

figure:hover time {
	transform: translate3d(0,-50%,0);
    opacity: 0;
}

figure:hover .actions {
	transform: translate3d(0,-100%,0);
}
/* end hover effect */

.features li h3 {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.3;
    letter-spacing: 0.05em;
    font-weight: 600;
    background-color: rgba(242, 217, 153, 0.8);
    padding: 10px 10px 5px;
    text-align: left;
}

.features li p {
    color: #26231B;
    background-color: rgba(128, 187, 213, 0.8);
    margin: 0 15px;
    width: auto;
    line-height: 1.4;
    padding: 5px 3px 2px;
}

.features li time {
    font-family: 'Averia Serif Libre', cursive;
    font-weight: 700;
    font-size: 1.2em;
    letter-spacing: 0;
    color: #26231B;
    background-color: rgba(128, 187, 213, 0.8);
    margin: 0 15px;
    width: auto;
    line-height: 1.4;
    padding: 4px 3px;
}

.features li ul {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {

    .features li.icon {
        //padding: 2em 1em 0.5em 1em ;
        //text-align: center;
        width: 45.5%;
        margin: 2%;
    }
    
    .features li h3 {
        font-size: 1.05em;
    }
    
    .features li time {
        font-size: 1.1em;
    }

}

@media screen and (max-width: 736px) {

    /*.features li {
        padding: 3em 0 1em 0 ;
        background-color: transparent !important;
        border-top: solid 2px #fff;
        width: 100%;
    }

    .features li:first-child {
        border-top: 0;
    }*/

}

@media screen and (max-width: 600px) {

    .features li.icon {
        text-align: center;
        width: 100%;
        margin: 5% 0;
    }
    
    .features li h3 {
        font-size: 1.25em;
    }
    
    .features li time {
        font-size: 1.2em;
    }

}


/* Spotlight */
.spotlight {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: flex-start;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    background-color: rgba(216, 206, 186, 0.5);
}

.spotlight.natura {
    background-color: rgba(87, 159, 63, 0.25);
}

.spotlight.salut-i-animals {
    background-color: rgba(228, 176, 44, 0.25);
}

.spotlight.tecnologia-i-natura {
    background-color: rgba(32, 144, 197, 0.25);
}

.spotlight .image {
    -moz-order: 1;
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
    border-radius: 0;
    width: 40%;
}

.spotlight .image img {
    border-radius: 0;
    width: 100%;
}

.spotlight .content {
    padding: 0 4em 0 3em ;
    -moz-order: 2;
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
    max-width: 48em;
    width: 60%;
    text-align: left;
    background-color: #F6F4F0;
}

.spotlight:nth-child(2n) {
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.spotlight .content h3 {
    margin: 2.5em 0 0;
}

.spotlight .content p {
    margin: 1.5em 0 0.5em;
}


@media screen and (max-width: 1280px) {

    .spotlight .image {
        width: 45%;
    }

    .spotlight .content {
        width: 55%;
    }

}

@media screen and (max-width: 980px) {

    .spotlight {
        display: block;
    }

    .spotlight br {
        display: none;
    }

    .spotlight .image {
        width: 100%;
    }

    .spotlight .content {
        padding: 4em 3em 2em 3em ;
        max-width: none;
        //text-align: center;
        width: 100%;
    }

}

@media screen and (max-width: 736px) {

    .spotlight .content {
        padding: 3em 2em 1em 2em ;
    }

}


/* Wrapper */
.wrapper {
    padding: 4em 0 4em 0;
}

.wrapper > .inner {
    width: 60em;
    width: 80%;
    margin: 0 auto;
    padding: 3em;
    border: 3px solid #443f30;
    border-radius: 20px;
    display: inline-block;
}

.error404 .wrapper {
    padding: 0;
}

.single .wrapper {
    padding: 0 0 2em;
}

@media screen and (max-width: 1280px) {

    .wrapper > .inner {
        width: 90%;
    }

}

@media screen and (max-width: 1024px) {

    .wrapper > .inner {
        padding: 2em;
    }

}

@media screen and (max-width: 768px) {

    .wrapper > .inner {
        width: 100%; 
    }

}

@media screen and (max-width: 360px) {

    .wrapper > .inner {
        padding: 1.5em 1em;
    }

}

.wrapper.alt {
    padding: 0;
}


@media screen and (max-width: 980px) {

    .wrapper {
        padding: 4em 3em 2em 3em;
    }

}

@media screen and (max-width: 736px) {

    .wrapper {
        padding: 3em 2em 1em 2em;
    }

}

@media screen and (max-width: 480px) {

    .wrapper {
        padding: 2em 1em;
    }

}

/* Page Wrapper + Menu */
#page-wrapper:before {
    background: rgba(0, 0, 0, 0);
    content: '';
    display: block;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
}

.language ul {
    display: block;
    position: absolute;
    top: 5px;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    z-index: 9;
}

.language ul li {
    display: inline-block;
    padding: 0 1em;
}

.language ul li a {
    position: relative;
    display: inline-block;
    font-size: 0.7em;
    border-bottom: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 5px 0;
    line-height: 1.7;
    color: rgba(68, 63, 48, 1);
}

.language ul li.active a {
    color: rgba(68, 63, 48, 0.5);
    cursor: default;
    
}

.language ul li a:hover,
.language ul li a:focus {
    //border-bottom: dotted 1px;
}

.language ul li.active a:hover,
.language ul li.active a:focus {
    //border-bottom: none;
}

.language ul li a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #443f30;
	content: '';
	opacity: 0;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	transform: translateY(-7px);
}

.language ul li a:hover::after,
.language ul li a:focus::after {
	height: 2px;
	opacity: 1;
	transform: translateY(0px);
}

.language ul li.active a:hover::after,
.language ul li.active a:focus::after {
	opacity: 0;
}


/* Banner */
#banner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    cursor: default;
    height: 100vh;
    min-height: 35em;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.error404 #banner,
.single #banner {
    height: 50vh;
    min-height: auto;
}

#banner img {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 9;
}

#banner h1 {
    display: inline-block;
    font-size: 1.75em;
    background-color: #d7cdba;
    padding: 0.45em 1em;
    position: relative;
    z-index: 1;
}

#banner h1:before,
#banner h1:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    width: 100%;
}

#banner h1:before {
    top: 0;
    left: 0;
    background: #443f30;
}

#banner h1:after {
    bottom: 0;
    right: 0;
}

#banner h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    letter-spacing: 0.29em;
    text-transform: uppercase;
    position: relative;
    z-index: 9;
}

#banner .more {
    position: absolute;
    text-align: center;
    border: none;
    bottom: 0;
    color: inherit;
    height: 3em;
    width: 6em;
    left: 50%;
    margin-left: -3em;
    opacity: 1;
    outline: 0;
    z-index: 9;
    
    transition: transform 0.75s ease, opacity 0.75s ease;
    transform: translateY(0);
    
    display: inline-block;
    background: rgba(68, 63, 48, 0.05);
    border-radius: 6px;
    box-sizing: content-box;
    
    animation: more 3s infinite;
	transform-origin: 100% 50%;
}

@keyframes more {
	0%, 100% {
        transform: translateY(-10px);
    }
	20% {
        transform: translateY(0);
    }
}

#banner .more:hover,
#banner .more:focus {
    opacity: 0.5;
}

#banner .more:before {
    position: absolute;
    content: '';
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: calc(30px/3);
    height: calc(30px/3);
    background: rgba(0,0,0,0);
    border: calc(30px/8) solid #FFFFFF;
    border-right: none;
    border-top: none;
    transform: rotate(-45deg);
    box-sizing: content-box;
}

#banner .more:after {
    position: absolute;
    content: '';
    margin: auto;
    top: -2px;
    bottom: 0;
    left: 0;
    right: 0;
    width: calc(30px/10);
    height: calc(32px/2);
    background-color: #fff;
    box-sizing: content-box;
}

#banner .more span {
    display: none;
}

#banner:after {
    pointer-events: none;
    -moz-transition: opacity 3s ease-in-out;
    -webkit-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    transition: opacity 3s ease-in-out;
    -moz-transition-delay: 1.25s;
    -webkit-transition-delay: 1.25s;
    -ms-transition-delay: 1.25s;
    transition-delay: 1.25s;
    content: '';
    background: #2e3842;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.error404 #banner h1,
.error404 #banner h2,
.error404 #banner .actions,
.error404 #banner .more,
.single #banner h1,
.single #banner h2,
.single #banner .actions,
.single #banner .more{
    display: none;
}

@media screen and (max-width: 1024px) {

    #banner {
        padding: 7em 3em 7em 3em;
        //height: auto;
        min-height: 0;
    }
    
    .error404 #banner,
    .single #banner {
        padding: 0 3em 0 3em ;
    }

    #banner h1 {
        font-size: 1.35em;
    }

    #banner h2 {
        font-size: 1.05em;
    }

    #banner .more {
        display: none;
    }

}

@media screen and (max-width: 768px) {

    #banner h2 {
        font-size: 1em;
    }

}

@media screen and (max-width: 600px) {

    #banner img {
        max-width: 70%;
    }
    
    #banner h1 {
        margin: 0 2em;
        line-height: 1.5;
    }
    
    #banner h2 {
        font-size: 1em;
        margin: 1em 2em;
    }

}

@media screen and (max-width: 480px) {

    #banner img {
        max-width: 80%;
    }
    
    #banner h1 {
        margin: 0 1em;
    }

}

@media screen and (max-width: 360px) {

    #banner img {
        max-width: 100%;
        height: auto;
    }
    
    #banner h1 {
        font-size: 1.1em;
    }
    
    #banner h2 {
        font-size: 0.9em;
    }

}



/* CTA */
#cta .inner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    max-width: 45em;
}

#cta .inner header {
    -moz-order: 1;
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
    padding-right: 3em;
    width: 60%;
}

#cta .inner header p {
    color: inherit;
}

#cta .inner .actions {
    -moz-order: 2;
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
    width: 40%;
}

#cta .inner input[type="submit"] {
    width: 100%;
}

#cta .inner form {
    margin-bottom: 0.75em;
}

#cta .inner form p {
    margin-bottom: 0.75em;
}

#cta .inner small {
    display: inline-block;
    font-size: 0.7em;
    line-height: 1.3;
    color: #767166;
    letter-spacing: 0;
}

@media screen and (max-width: 980px) {

    #cta .inner {
        display: block;
        text-align: center;
    }

    #cta .inner header {
        padding-right: 0;
        width: 100%;
    }

    #cta .inner .actions {
        margin-left: auto;
        margin-right: auto;
        max-width: 20em;
        width: 100%;
    }

}

@media screen and (max-width: 736px) {

    #cta .inner .actions {
        max-width: none;
    }

}

/* Main */
#main > header {
    padding: 12em 0 10em 0 ;
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#main > header h2 {
    font-size: 1.75em;
    margin: 0 0 0.5em 0;
}

#main > header p {
    color: inherit;
    letter-spacing: 0.225em;
    text-transform: uppercase;
    top: 0;
}

#main > header p a {
    color: inherit;
}

@media screen and (max-width: 1680px) {

    #main > header {
        padding: 10em 0 8em 0 ;
    }

}

@media screen and (max-width: 1280px) {

    #main > header {
        padding: 8em 3em 6em 3em ;
    }

}

@media screen and (max-width: 980px) {

    #main > header {
        padding: 10em 3em 8em 3em ;
    }

}

@media screen and (max-width: 736px) {

    #main > header {
        padding: 5em 3em 3em 3em ;
    }

    #main > header h2 {
        font-size: 1.25em;
        margin: 0 0 1em 0;
    }

}

body.is-mobile #main > header {
    background-attachment: scroll;
}


/* Footer */
#footer {
    padding: 4em 0 4em 0 ;
    background-color: #D8CEBA;
    text-align: center;
    margin-top: 4em;
}

.error404 #footer,
.single #footer {
    margin-top: 0;
}

#footer .icons {
    font-size: 1.25em;
}

#footer .legal a {
    font-size: 0.7em;
    color: #443F30;
}

#footer .legal a:hover,
#footer .legal a:focus {
    color: #26231B;
    text-decoration: none;
}

#footer .copyright {
    color: rgba(255, 255, 255, 0.5);
    color: #443F30;
    font-size: 0.8em;
    letter-spacing: 0.225em;
    list-style: none;
    padding: 0;
    text-transform: uppercase;
}

#footer .copyright li {
    border-left: solid 1px #443F30;
    display: inline-block;
    line-height: 1em;
    margin-left: 1em;
    padding-left: 1em;
}

#footer .copyright li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}

#footer .copyright li a {
    color: inherit;
}

    #footer .copyright li a:hover {
        text-decoration: none;
    }

@media screen and (max-width: 480px) {

    #footer .copyright li {
        border: 0;
        display: block;
        line-height: 1.65em;
        margin: 0;
        padding: 0.5em 0;
    }

}

@media screen and (max-width: 980px) {

    #footer {
        padding: 4em 3em 2em 3em ;
    }

}

@media screen and (max-width: 736px) {

    #footer {
        padding: 3em 2em 1em 2em ;
    }

}


/* SVG bg animation */
.svg-container {
    display: block;
    margin: 15vh 10vw;
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    width: 80vw;
    height: 70vh;
    overflow: hidden;
    background: #fff;
    border-radius: 20px;
    border: 3px solid #443f30;
    /*box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);*/
    z-index: -1;
}

.error404 .svg-container,
.single .svg-container {
    display: none;
}

.svg-container svg {
    position: absolute;
    left: -60px;
    top: -20%;
    width: auto;
    height: 1100px;
}

#cloud {
    animation: speed 40s linear infinite;
}

#cloud2 {
    animation: speed 35s linear infinite;
}

#cloud3 {
    animation: speed 30s linear infinite;
}

#cloud4 {
    animation: speed 45s linear infinite;
}

#sea {
    animation: waves 3s infinite; /* Safari 4+ */
	transform-origin: 100% 50%;
}

@keyframes speed {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    70% {
        transform: translateX(50%);
        opacity: 0.8;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes waves {
	0%, 100% {
        transform: translateX(-20px) rotate(-0.5deg);
    }
	20% {
        transform: translateX(0) rotate(0.5deg);
    }
}

@media screen and (max-width: 1280px) {
    .svg-container {
        margin: 7vh 5%;
        width: 90%;
        height: 86vh;
    }
    
    .svg-container svg {
        left: -20%;
        top: -20%;
    }
}

@media screen and (max-width: 1024px) {
    .svg-container {
        margin: 3em;
        width: ~"calc(100vw - 6em)";
        height: ~"calc(100vh - 6em)";
        //width: ~"calc(100vw - 2em)";
    }
    
    .svg-container svg {
        left: -40%;
        top: -10%;
    }
}

@media screen and (max-width: 600px) {
    .svg-container {
        margin: 2em;
        width: ~"calc(100vw - 4em)";
        height: ~"calc(100vh - 4em)";
    }
    
    .svg-container svg {
        left: -90%;
        top: -10%;
    }
}

@media screen and (max-width: 480px) {
    
    .language ul {
        top: 2em;
    }
    
    .svg-container {
        margin: 1em;
        width: ~"calc(100vw - 2em)";
        height: ~"calc(100vh - 2em)";
    }
    
    .svg-container svg {
        left: -100%;
        top: -10%;
    }
}


/* Camping (allotjament) */
.staying p span {
    display: block;
    color: #443F30;
    font-family: 'Averia Serif Libre', cursive;
    font-weight: 700;
    letter-spacing: 0.125em;
    line-height: 1.3;
    font-size: 1.35em;
    margin-top: 1em;
}

.staying .google {
    border-bottom: none;
    opacity: 0.6;
    transition: opacity 0.2s ease;
}

.staying .google:hover,
.staying .google:focus {
    opacity: 0.9;
}

.staying .google img {
    width: 100%;
    height: auto;
    border-radius: 18px;
    border-color: #fff;
    border-width: 3px;
    border-style: solid;
}

.staying small {
    display: inline-block;
    font-size: 0.8em;
    border-bottom: 1px dotted; 
}

.campsite {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0 0 2em;
}

.campsite li {
    display: inline-block;
    margin: 0 auto;
    width: 260px;
}

.campsite span {
    /*width: 355px;
    height: 355px;
    transform: rotate(-45deg) translateY(-74px);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);*/
}

/*.campsite span img {
    width: 100%;
    height: auto;
}*/


.campsite li span {
    margin: 20px auto;
    display: block;
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 20px;
    transform: rotate(45deg);
    position: relative;
    border: 3px solid #fff;
}

.campsite li span img {
    transform: rotate(-45deg);
    position: absolute;
    top: -40px;
    left: -40px;
}


// Plugins
// ---------------------------------------------------------------------------
@import "plugins.less";
